@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css');
* {
  margin: 0;
  padding: 0;
  border: 0;
}
/* ====== general =======  */
body {
  font-family: 'Raleway', sans-serif;
  background-color: #ddcdcf;
  color: #b17981;
  margin: 0; padding: 0;
}
h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 36px;
  line-height: 46px;
  color: #67242e;
}
p {
  margin: 20px 0;
}
a {
  color:indianred;
  text-decoration: none;
}
a:hover{
  color:maroon;
}
section {
  display: table;
  padding:0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  /*thanks to this huhuhttp://stackoverflow.com/questions/23367345/100vw-causing-horizontal-overflow-but-only-if-more-than-one*/
}
/* ======= first panel ============== */
.content {
  position: relative;
  margin-top: 20px;
  padding:0;
  background: url(assets/workspace.png) no-repeat center center fixed;
  background-size: cover;
  display: table-cell;
  vertical-align: middle;
 }
.description, .portfolio {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}
.description {
  padding-top: 100px;
  min-height: 250px;
  text-align: center;
}

.description h1 {
  font-size: 48px;
}

.intro {
  color: black;
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 60px;
}
/** ===== second panel ======== */
.portfolio {
  color: #747474;
}
.portfolio h1 {
  color: #5e3139;
  margin-top: 60px;
  text-transform: uppercase;
}
.portfolio h1 a:link, .portfolio h1 a:visited  {
  color: #464646;
  transition: color 0.1s ease;
}
.portfolio h1 a:hover {
  color: #000000;
  transition: color 0.3s ease;
}

.portfolio .gallery {
  margin: 5px;
  border: 1px solid #e2b7be;
  float: left;
  width: 150px;
}

.portfolio .gallery:hover {
  border: 1px solid #67242e;
}

.portfolio .gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}

/** ===== third panel ======== */
.about {
  position: relative;
  margin-top: 10px;
  padding:0;
  background: url(assets/pond.jpg) no-repeat center center fixed;
  background-size: cover;
  display: table-cell;
  vertical-align: middle;
 }

.aboutcontent {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  padding-top: 100px;
  min-height: 250px;
  
}

.aboutcontent h1 {
  width: 90%;
  max-width: 960px;
  font-size: 48px;
}
.aboutcontent a {
  color: maroon;
  text-decoration: underline;
}

.abouttext {
  color: black;
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 60px;
  /*text-align: center;*/
}

/* ======= navbar ==========  */

footer {
  display: table;
  padding:0;
  margin: 0;
  height: 15vh;
  /*width: 100vw;*/
  max-width: 100%;
  /*thanks to this huhuhttp://stackoverflow.com/questions/23367345/100vw-causing-horizontal-overflow-but-only-if-more-than-one*/
  color: #5e3139;
  margin: 0 auto;
}


.icons {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
}

.icons a {
  padding: 0 15px;
}

/* ======= navbar ==========  */
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 50px;
  background-color: #67242e;
  /**box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.6);*/
}
.nav-bar li, .nav-bar a { 
  height: 50px;
  line-height: 50px;
}
.sitename {
  display: inline-block;
  margin-right: 20px;
  margin-left: 10px;
  font-weight: 600;
}
a.sitename, a:visited.sitename {
  color: #e0e0e0;
}
.menu {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}
.menu a {
  color: #ffffff;
}
.menu a:hover, .menu a:target {
  color: #fefefe;
}
.menu-items {
  display: inline-block;
  float:right;
}
.menu-items li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
.menu-items li:hover {
  opacity: 0.5;
  background-color: indianred;
}
.menu-items a {
  text-decoration: none;
}
/* ====== responsiveness ======= */
.show, .hide {
  display: none;
  padding-left: 15px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center left;
  color: #dde1e2;
}
.show {
  background-image: url(assets/down-arrow.png);
}
.hide {
  background-image: url(assets/up-arrow.png);
}
@media only screen and (max-width: 800px) {
  .menu { 
    position: relative;
    width: 100%;
  }
  .sitename {
    position: absolute;
    top: 0;
    left: 15px;
    margin-left: 0px;
  }
  .menu-items {
    display: none; 
    width: 100%;
    margin-top: 50px;
    background-color: #67242e;
  }
  .menu-items li {
    display: block;
    text-align: center;
  }
  .show, .hide {  
    position: absolute;
    top: 0;
    right: 15px;
  }
  .show {
    display: inline-block;
  }
  .hide {
    display: none;
  }
  #menu:target .show {
    display: none;
  }
  #menu:target .hide, #menu:target .menu-items {
    display: inline-block;
  }
}
@media only screen and (max-width: 220px) {
  .sitename, .show, .hide {
    font-size: 14px;
  }
}
.section { height: 100vh; }